@tailwind base;
@tailwind components;
@tailwind utilities;

[data-aos="intro-animate"] {
  @apply blur-[2px] opacity-25 translate-y-3;
}

[data-aos="intro-animate"].aos-animate {
  @apply blur-none opacity-100 transform-none;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.typing-cursor {
  @apply font-thin text-primary-600 dark:text-primary-400 animate-blink;
}

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}